##RewriteEngine on
##RewriteRule ^api.DELY_VERY.com/ api.DELY_VERY.com/index.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?PATH_INFO=$1 [L,QSA]